.login-form {
  margin-top: 75px;
}
.login-form .container {
  height: 75vh;
  background-color: #e8e8e8;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 15px;
  border: #023047 2px solid;
}
.header h1 {
  text-align: center;
  font-size: 52px;
  color: #023047;
}
form {
  text-align: center;
}
input {
  margin: 15px;
}
input[type="email"],
input[type="password"] {
  border: none;
  width: 350px;
  font-size: 18px;
  height: 40px;
  text-align: center;
  /* transition: all 0.3s ease-in-out; */
  border: #023047 2px solid;
  border-radius: 7px;
}
input[type="email"]:focus,
input[type="password"]:focus {
  border: 3px solid #023047;
  /* width: 24%; */
}
input[type="submit"] {
  background-color: #f0f6f6;
  border: 3px solid #023047;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: bold;
}
input[type="submit"]:hover {
  background-color: #023047;
  color: #f0f6f6;
  transition: 0.3s;
  cursor: pointer;
  /* font-size: 26px; */
}
