/* NAVIGATION & HERO-SECTION */
header {
  background-color: #023047;
  position: relative;
  width: 100%;
}

.navbar {
  list-style: none;
  text-align: center;
  padding: 20px;
}

.navbar_li,
.dropdown_li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: center;
}

.navbar_menu {
  display: none;
}

.navbar_a,
.dropdown_a {
  display: block;
  color: #f0f6f6;
  text-decoration: none;
  font-weight: 500;
}

.navbar_a {
  padding: 8px 25px;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .navbar_a {
    padding: 4px 15px;
  }

  .header_content {
    display: flex;
    justify-content: flex-start;
  }
  .container {
    width: 100%;
  }
}

/* DROPDOWN */
.dropdown_a {
  display: block;
  padding: 8px 20px;
  font-size: 16px;
  color: #023047;
  text-transform: none;
  transition: all 0.3s ease-out 0s;
}

.dropdown_a::before {
  position: absolute;
  content: "";
  top: 0;
  right: auto;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #023047;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.dropdown_a:hover::before {
  width: 100%;
}
.dropdown_a:hover {
  color: #f0f6f6;
}

.navbar_li .dropdown {
  min-width: 100%; /* Set width of the dropdown */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 9;
  left: 0;
  transition: all 0.3s ease-out 0s;
  border: 1px solid white;
}
.navbar_li:hover .dropdown {
  display: flex; /* Display the dropdown */
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}

/* TEXT U SKLOPU DROPDOWN-A */
.navbar_a:last-child,
.dropdown_a:last-child {
  margin-bottom: 5px;
}

.navbar_a:hover,
.dropdown_a:hover,
.navbar_a:active,
.dropdown_a:active {
  /* font-size: 20px; */
  /* border-bottom: 3px solid #023047; */
  transition: all 0.3s ease-out 0s;
}

.navbar_li:hover .dropdown {
  background-color: #f0f6f6;
}

/* LOGIN */
.login-btn.admin {
  position: absolute;
  right: 120px;
}
.login-btn {
  position: absolute;
  top: 15px;
  right: 50px;
  border: 2px solid #f0f6f6;
  background-color: #f0f6f6;
  border-radius: 25px;
}
.login-btn:hover {
  transition: 0.3s;
  background-color: transparent;
}
.login-btn a {
  display: inline-block;
  color: #023047;
  font-weight: bold;
  padding: 5px 10px;
}
.login-btn a:hover {
  color: #f0f6f6;
}
