/* NEWS-SEARCH */
.news-search {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.news-search input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f0f6f6;
}
.news-search input:focus::placeholder {
  color: transparent;
}
.search-bar {
  border: #023047 solid 3px;
  color: #023047;
  font-size: 20px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  padding-left: 15px;
  margin-top: 5px;
}
.search-btn {
  margin-left: 10px;
  color: #fff;
  background-color: #023047;
  border-radius: 35px;
  padding: 8px;
  border-color: #023047 solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search-btn:hover {
  cursor: pointer;
}
.search-btn svg {
  margin-top: 2px;
}
.search-bar::placeholder {
  color: #023047;
}
/* news box content */
.news-page .news-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 350px;
  background-color: #023047;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12px;
  min-height: 390px;
}
.news-page .news-box a {
  width: 100%;
  border-radius: 20px;
}
.news-page .news-box img {
  width: 100%;
  min-height: 280px;
  max-height: 280px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.news-page .news-box .boxContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0px 10px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* upper grid */
.news-page .grid-upper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  justify-content: center;
  gap: 25px;
  margin: 25px 0px;
}
.news-page .grid-upper .news-box a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.news-page .grid-upper .news-box:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
  width: auto;
  height: auto;
}
.news-page .grid-upper .news-box:first-child .boxContent {
  font-size: 20px;
  padding: 10px;
}
.news-page .grid-upper .news-box:first-child img {
  min-height: 630px;
}
@media (max-width: 1843px) {
  .grid-upper .news-box:nth-child(4) {
    grid-row: 3/4;
    grid-column: 1/3;
    width: auto;
    height: auto;
  }
  .grid-upper .news-box:nth-child(5) {
    grid-row: 3/4;
    grid-column: 3/4;
  }
}
@media (max-width: 1366px) {
  .news-page .grid-upper .news-box:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .news-page .grid-upper .news-box:first-child .boxContent {
    font-size: 16px;
  }
  .news-page .grid-upper .news-box:first-child img {
    min-height: 280px;
  }
  .grid-upper .news-box:nth-child(4) {
    grid-row: auto/auto;
    grid-column: auto/auto;
  }
  .grid-upper .news-box:nth-child(5) {
    grid-row: auto/auto;
    grid-column: auto/auto;
  }
}
@media (max-width: 830px) {
  .news-page .grid-upper .news-box:first-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .news-page .grid-upper .news-box:first-child .boxContent {
    font-size: 12px;
  }
  .grid-upper .news-box:nth-child(4) {
    grid-row: auto/auto;
    grid-column: auto/auto;
  }
  .grid-upper .news-box:nth-child(5) {
    grid-row: auto/auto;
    grid-column: auto/auto;
  }
}
@media (max-width: 500px) {
  .news-box {
    width: auto;
    height: auto;
  }
}
/* LOWER grid*/
.news-page .grid-lower {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  justify-content: center;
  gap: 25px;
  margin: 25px 0px;
}
.news-page .grid-lower .news-box a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
